<h1>List of Teachers (List View)</h1>

<ul>
    {% for teacher in teacher_list %}
        <li>
            <a href="/classroom/detail_teacher/{{teacher.id}}">{{teacher.first_name}} {{teacher.last_name}}</a>

        </li>
        <ul>
            <li>
                <a href="/classroom/update_teacher/{{teacher.id}}">Update Information for {{teacher.first_name}}</a>
            </li>
            <li>
                <a href="/classroom/delete_teacher/{{teacher.id}}">DELETE {{teacher.first_name}}</a>
            </li>
        </ul>

    {% endfor %}
</ul>